<<!DOCTYPE html>
<html>
<head>
  <title>分享</title>
</head>
<body>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
  <span class="jiathis_txt">关注我们：</span>
  <a class="jiathis_follow_tsina" rel="http://weibo.com/jiathis"></a>
  <a class="jiathis_follow_tqq" rel="http://t.qq.com/jiathis"></a>
  <a class="jiathis_follow_weixin" rel="http://www.jiathis.com/resource/default/images/weixin_code.jpg"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->
</body>
</html>>
